<form
class="editableItem text-center"
>
<h4 class="text-center">Agregar Elemento</h4>
  <input
    name="title"
    type="text"
    class="form-control mb-3"
    placeholder="Titulo"
    [(ngModel)]="sampleItem.title"
  />
  <input
    name="date"
    type="text"
    class="form-control mb-3"
    placeholder="Fecha"
    [(ngModel)]="sampleItem.date"
  />
  <input
    name="place"
    type="text"
    class="form-control mb-3"
    placeholder="Lugar"
    [(ngModel)]="sampleItem.place"
  />
  <textarea
    name="description"
    rows="5"
    type="text"
    class="form-control mb-3"
    placeholder="Descripcion"
    [(ngModel)]="sampleItem.description"
  ></textarea>
  <!-- Botones para guardar/cancelar -->
  <div class="p-2">
    <button
      type="button"
      class="btn btn-outline-success m-2"
      (click)="toggleAdding(); addItem()"
    >
      <i id="saveIcon" class="bi bi-check2-circle"></i> Guardar
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="toggleAdding()"
    >
      <i id="cancelIcon" class="bi bi-x-circle"></i> Cancelar
    </button>
  </div>
</form>