<form class="editable-item">
  <h4 class="text-center">Editar</h4>
  <div class="d-flex flex-column align-items-center justify-content-center mt-3">    
    <img
      class="user-profile img-fluid"
      [src]="personaEditable?.img_url"
      alt="Foto de Perfil"
    />
  </div>
  <div class="mb-4">
    <label for="sidebarName" class="form-label">Nombre: </label>
    <input
      id="sidebarName"
      name="sidebarName"
      type="text"
      class="form-control"
      placeholder="EJ: Manuel Burgos"
      autocomplete="off"
      [(ngModel)]="personaEditable!.nombre"
    />
  </div>
  <div class="mb-4">
    <label for="sidebarName" class="form-label">Título: </label>
    <input
      id="sidebarTitle"
      name="sidebarTitle"
      type="text"
      class="form-control"
      placeholder="EJ: Desarrollador Fullstack"
      autocomplete="off"
      [(ngModel)]="personaEditable!.titulo"
    />
  </div>
  <div class="mb-4">
    <label for="sidebarImg" class="form-label">Foto de Perfil (URL): </label>
    <input
      id="sidebarImg"
      name="sidebarImg"
      type="text"
      class="form-control"
      placeholder="http://tusitio.com/imagen.png"
      autocomplete="off"
      [(ngModel)]="personaEditable!.img_url"
    />
  </div>
  <div class="mb-4">
    <label for="sidebarImg" class="form-label">Banner (URL): </label>
    <input
      id="sidebarBanner"
      name="sidebarBanner"
      type="text"
      class="form-control"
      placeholder="http://tusitio.com/imagen.png"
      autocomplete="off"
      [(ngModel)]="personaEditable!.banner_url"
    />
  </div>
  <div class="mb-4">
    <label for="sidebarLinkedin" class="form-label">LinkedIn: </label>
    <input
      id="sidebarLinkedin"
      name="sidebarLinkedin"
      type="text"
      class="form-control"
      placeholder="https://www.linkedin.com/in/usuario/"
      autocomplete="off"
      [(ngModel)]="personaEditable!.linkedin_url"
    />
  </div>
  <div class="mb-4">
    <label for="sidebarGithub" class="form-label">Github: </label>
    <input
      id="sidebarGithub"
      name="sidebarGithub"
      type="text"
      class="form-control"
      placeholder="https://www.github.com/usuario/"
      autocomplete="off"
      [(ngModel)]="personaEditable!.github_url"
    />
  </div>
  <div class="p-2 text-center">
    <button
      type="button"
      class="btn btn-outline-success m-2"
      (click)="toggleEdition(); saveChanges()"
    >
      <i id="saveIcon" class="bi bi-check2-circle"></i> Guardar
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="toggleEdition(); reload()"
    >
      <i id="cancelIcon" class="bi bi-x-circle"></i> Cancelar
    </button>
  </div>
</form>
