<div>
    <div
      class="professional-header d-flex justify-content-between align-items-center"
    >
      <h3 class="mb-3 fw-bold">Experiencia Laboral</h3>
      <span
        class="edit-icon"
        data-bs-toggle="modal"
        data-bs-target="#itemPlus"
        ><i class="bi bi-plus-circle"></i
      ></span>
    </div>
    <div class="info-item">
      <div
        class="item-title d-flex justify-content-between align-items-center"
      >
        <h4>FullStack Web Developer</h4>
        <div class="item-buttons">
          <span
            class="edit-icon"
            data-bs-toggle="modal"
            data-bs-target="#itemModal"
            ><i class="bi bi-pencil-square"></i
          ></span>
          <span
            class="edit-icon"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            ><i class="bi bi-trash3"></i
          ></span>
        </div>
      </div>
      <h5>2022 - Presente</h5>
      <p><em>Freelancer</em></p>
      <p>
        Desarrollo de proyectos personales a fin de desarrollar mis
        habilidades.
      </p>
    </div>
  </div>