<aside>
  <nav id="navbar" class="sidebar">
    <div id="userInfo" class="d-flex flex-wrap justify-content-center mt-3">
      <img
        class="user-profile img-fluid"
        src="../assets/user-profile.jpg"
        alt="Foto de Perfil"
      />
      <span
        class="align-self-end edit-icon"
        data-bs-toggle="modal"
        data-bs-target="#editUserModal"
        ><i class="bi bi-pencil-square"></i
      ></span>
      <a href="index.html"><h2 class="fs-4 fw-bold m-3">Manuel Burgos</h2></a>
      <ul class="social">
        <a href="https://www.linkedin.com/in/manuelburgos-dev/" target="_BLANK"
          ><li><i class="bi bi-linkedin fs-5"></i></li
        ></a>
        <a href="https://github.com/BurgosManuel" target="_BLANK"
          ><li><i class="bi bi-github fs-5"></i></li
        ></a>
      </ul>
    </div>
    <div id="nav-links">
      <ul class="navigation">
        <li class="nav-item">
          <a href="#home"><i class="bi bi-house-door fs-4"></i>Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#about"><i class="bi bi-person fs-4"></i>Sobre Mí</a>
        </li>
        <li class="nav-item">
          <a href="#skills"><i class="bi bi-diagram-3 fs-4"></i>Habilidades</a>
        </li>
        <li class="nav-item">
          <a href="#projects"><i class="bi bi-code fs-4"></i>Proyectos</a>
        </li>
        <li class="nav-item">
          <a href="#contact"><i class="bi bi-envelope fs-4"></i>Contacto</a>
        </li>
        <li class="nav-item">
          <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal"
            ><i class="bi bi-box-arrow-up-right fs-4"></i>Login</a
          >
        </li>
      </ul>
    </div>
    <div id="nav-footer" class="ap-container">
      <img
        src="../assets/AP-logo.png"
        alt="Argentina Programa Logo"
        class="img-fluid ap-logo"
      />
    </div>
  </nav>
</aside>
