/*
==========
BARRA DE NAVEGACIÓN
==========
*/
.sidebar {
  position: fixed;
  inset: 0;
  z-index: 2000;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 280px;
  height: 100vh;
  padding: 1rem 0;

  background-color: var(--dark);
  color: #fff;

  transform: translateX(0);
  transition: transform .5s ease-in-out;
}

/* Permitimos en scroll en dispositivos de menor altura, pero escondemos la barra de scroll de los distintos dispositivos.  */

@media (max-height: 1000px) {
  .sidebar {
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .sidebar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}


/* Ocultamos la barra lateral si el usuario intenta "imprimir" el sitio.*/
@media print {
  aside {
    display: none;
  }
}

/*Propiedad que usamos para ocultar la barra de navegación.*/
.hidebar {
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

