<span class="edit-icon" id="deleteModalBtn" data-bs-toggle="modal" (click)="openModal()"><i class="bi bi-trash3"></i></span>
<div class="modal" tabindex="-1" [id]="modalTarget">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar Elemento</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Esta acción no se puede revertir, ¿continuar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" data-bs-toggle="modal">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
