<div class="d-flex flex-column">
  <div
    *ngIf="!isEditing"
    class="d-flex flex-column align-items-center justify-content-center mt-3"
  >
    <img
      class="user-profile img-fluid"
      [src]="personaData?.img_url"
      alt="Foto de Perfil"
    />
    <a href="index.html"
      ><h2 class="fs-4 fw-bold m-3">{{ personaData?.nombre}}</h2></a
    >
    <ul class="social">
      <a [href]="personaData?.linkedin_url" target="_BLANK"
        ><li><i class="bi bi-linkedin fs-5"></i></li
      ></a>
      <a [href]="personaData?.github_url" target="_BLANK"
        ><li><i class="bi bi-github fs-5"></i></li
      ></a>
    </ul>
  </div>
  <div *ngIf="!isEditing" id="nav-links">
    <ul class="navigation">
      <li class="nav-item">
        <a href="#home"><i class="bi bi-house-door fs-4"></i>Inicio</a>
      </li>
      <li class="nav-item">
        <a href="#about"><i class="bi bi-person fs-4"></i>Sobre Mí</a>
      </li>
      <li class="nav-item">
        <a href="#skills"><i class="bi bi-diagram-3 fs-4"></i>Habilidades</a>
      </li>
      <li class="nav-item">
        <a href="#projects"><i class="bi bi-code fs-4"></i>Proyectos</a>
      </li>
      <li class="nav-item">
        <a href="#contact"><i class="bi bi-envelope fs-4"></i>Contacto</a>
      </li>
      <li class="nav-item">
        <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal"
          ><i class="bi bi-box-arrow-up-right fs-4"></i>Login</a
        >
      </li>
    </ul>
  </div>
  <app-navbar-edition
  *ngIf="isEditing"
  [isEditing]="isEditing"
  [personaEditable]="personaData"
  (onSave)="updatePersona($event)"
  (onCancel)="reloadPersona()"
  (onToggleEdition)="toggleEdition($event)"
  >
  </app-navbar-edition>
  <div
    id="nav-footer"
    class="ap-container d-flex justify-content-center align-items-center"
  >
    <img
      src="../assets/AP-logo.png"
      alt="Argentina Programa Logo"
      class="img-fluid ap-logo"
    />
  </div>
</div>
