<form class="editable-item">
  <h4 class="text-center">Editar</h4>
  <div class="mb-2">
    <label for="educationTitulo" class="form-label">Titulo</label>
    <input
      id="educationTitulo"
      name="educationTitulo"
      type="text"
      class="form-control mb-3"
      placeholder="Título/Puesto"
      autocomplete="off"
      [(ngModel)]="educacionEditable!.titulo"
    />
  </div>
  <div class="mb-2">
    <label for="educacionFecha" class="form-label">Fecha</label>
    <input
      id="educacionFecha"
      name="educacionFecha"
      type="text"
      class="form-control mb-3"
      placeholder="Inicio - Fin"
      autocomplete="off"
      [(ngModel)]="educacionEditable!.fecha"
    />
  </div>
  <div class="mb-2">
    <label for="educacionInstitucion" class="form-label">Lugar</label>
    <input
      id="educacionInstitucion"
      name="educacionInstitucion"
      type="text"
      class="form-control mb-3"
      placeholder="Empresa/Institución"
      autocomplete="off"
      [(ngModel)]="educacionEditable!.institucion"
    />
  </div>
  <div class="mb-2">
    <label for="educacionDescripcion" class="form-label">Descripcion</label>
    <textarea
      id="educacionDescripcion"
      name="educacionDescripcion"
      rows="5"
      type="text"
      class="form-control mb-3"
      placeholder="Breve descripción de la carrera o puesto..."
      [(ngModel)]="educacionEditable!.descripcion"
    ></textarea>
  </div>
  <!-- Botones para guardar/cancelar -->
  <div class="p-2 text-center">
    <button
      type="button"
      class="btn btn-outline-success m-2"
      (click)="toggleEdition(); saveChanges()"
    >
      <i id="saveIcon" class="bi bi-check2-circle"></i> Guardar
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="toggleEdition(); reload()"
    >
      <i id="cancelIcon" class="bi bi-x-circle"></i> Cancelar
    </button>
  </div>
</form>
