<!--Seccion Sobre Mí-->
<section id="about" class="section-info">
  <div class="container">
    <div class="section-title">
      <div
        class="section-header d-flex justify-content-between align-items-center"
      >
        <h2 class="fw-bold">Sobre mí</h2>
        <app-edit-button
          (onToggleEdition)="toggleEdition($event)"
        ></app-edit-button>
      </div>
      <!-- Utilizamos el Attr binding para poder utilizar marcado HTML en nuestro JSON -->
      <p
        *ngIf="!isEditing"
        [innerHTML]="aboutData"
        [ngClass]="{ editableItem: isEditing }"
      ></p>
      <app-edit-component
        editableData="{{ aboutData }}"
        *ngIf="isEditing"
      ></app-edit-component>
    </div>
    <app-professional-info></app-professional-info>
  </div>
</section>
