<!--Seccion Sobre Mí-->
<section id="about" class="section-info">
    <div class="container">
      <div class="section-title">
        <div
          class="section-header d-flex justify-content-between align-items-center"
        >
          <h2 class="fw-bold">Sobre mí</h2>
          <span
            class="edit-icon"
            data-bs-toggle="modal"
            data-bs-target="#sectionModal"
            ><i class="bi bi-pencil-square"></i
          ></span>
        </div>
        <p>
          Músico/Pianista Profesional y Desarrollador Web Fullstack Jr. en
          constante formación. Me gusta ampliar mis conocimientos en diversas
          áreas de mi interés y llevarlo a la práctica, soy una persona curiosa
          y empática, busco colaborar en proyectos, mejorar mis habilidades y
          ayudar a los demás a cumplir sus objetivos.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img
            src="../assets/about.jpg"
            alt="Foto de Perfil"
            class="img-fluid about-img"
          />
        </div>
        <!--Sección Educación/Experiencia-->
        <div id="professional-info" class="col-lg-8 mt-4">
          <div class="row">
            <div id="education" class="col-lg-6">
              <div
                class="professional-header d-flex justify-content-between align-items-center"
              >
                <h3 class="mb-3 fw-bold">Educación</h3>
                <span
                  class="edit-icon"
                  data-bs-toggle="modal"
                  data-bs-target="#itemPlus"
                  ><i class="bi bi-plus-circle"></i
                ></span>
              </div>
              <div class="info-item">
                <div
                  class="item-title d-flex justify-content-between align-items-center"
                >
                  <h4>Desarrollo Web FullStack</h4>
                  <div class="item-buttons">
                    <span
                      class="edit-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#itemModal"
                      ><i class="bi bi-pencil-square"></i
                    ></span>
                    <span
                      class="edit-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                      ><i class="bi bi-trash3"></i
                    ></span>
                  </div>
                </div>
                <h5>2021 - 2022</h5>
                <p><em>Argentina Programa</em></p>
                <p>
                  Curso de Desarrollo Web FullStack donde se estudian diversas
                  tecnologías como ser HTML, CSS, Bootstrap, Angular, Java,
                  Spring Boot, entre otras.
                </p>
              </div>
              <div class="info-item">
                <div
                  class="item-title d-flex justify-content-between align-items-center"
                >
                  <h4>Profesorado de Música - Piano</h4>
                  <div class="item-buttons">
                    <span
                      class="edit-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#itemModal"
                      ><i class="bi bi-pencil-square"></i
                    ></span>
                    <span
                      class="edit-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                      ><i class="bi bi-trash3"></i
                    ></span>
                  </div>
                </div>
                <h5>2018 - 2022</h5>
                <p><em>Instituto Superior de Música de la UNT</em></p>
                <p>
                  Pedagogía, Psicología del Alumno, Manejo de Grupos,
                  Planificación de Clases, Proyectos, Prácticas Profesionales,
                  Composición, Ejecución Instrumental, Arreglos, etc.
                </p>
              </div>
            </div>
            <div id="education" class="col-lg-6">
              <div
                class="professional-header d-flex justify-content-between align-items-center"
              >
                <h3 class="mb-3 fw-bold">Experiencia Laboral</h3>
                <span
                  class="edit-icon"
                  data-bs-toggle="modal"
                  data-bs-target="#itemPlus"
                  ><i class="bi bi-plus-circle"></i
                ></span>
              </div>
              <div class="info-item">
                <div
                  class="item-title d-flex justify-content-between align-items-center"
                >
                  <h4>FullStack Web Developer</h4>
                  <div class="item-buttons">
                    <span
                      class="edit-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#itemModal"
                      ><i class="bi bi-pencil-square"></i
                    ></span>
                    <span
                      class="edit-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                      ><i class="bi bi-trash3"></i
                    ></span>
                  </div>
                </div>
                <h5>2022 - Presente</h5>
                <p><em>Freelancer</em></p>
                <p>
                  Desarrollo de proyectos personales a fin de desarrollar mis
                  habilidades.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>