<!--Seccion Sobre Mí-->
<section id="about" class="section-info">
  <div class="container">
    <div class="section-title">
      <div
        class="section-header d-flex justify-content-between align-items-center"
      >
        <h2 class="fw-bold">Sobre mí</h2>
        <!-- Componente 'Edit Button'-->
        <app-edit-button
          (onToggleEdition)="toggleEdition($event)"
          *ngIf="!isEditing"
        ></app-edit-button>
      </div>
        <!-- Contenido editable, utilizamos directivas y binding para manejarlo-->
      <app-edit-component
        [editableData]="sectionData"
        (onToggleEdition)="toggleEdition($event)"
        *ngIf="isEditing"
        (onSave)="saveChanges($event)"
      ></app-edit-component>
      <!-- Utilizamos el Attr binding para poder utilizar marcado HTML en nuestro JSON -->
      <p
        *ngIf="!isEditing"
        [innerHTML]="sectionData"
        [ngClass]="{ editableItem: isEditing }"
      ></p>
    </div>
    <!-- Seccion educacion/experiencia -->
    <app-professional-info></app-professional-info>
  </div>
</section>
