<div>
  <div
    class="professional-header d-flex justify-content-between align-items-center"
  >
    <h3 class="mb-3 fw-bold">Experiencia Laboral</h3>
    <div>
      <app-edit-button
        [isEditing]="isEditing"
        (onToggleEdition)="reloadToggle($event)"
      ></app-edit-button>
      <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemPlus">
        <i class="bi bi-plus-circle"></i>
      </span>
    </div>
  </div>
  <!-- Iteramos a traves del array de elementos, y generamos uno nuevo con su respectivo Data Binding. -->
  <app-professional-edit-component
    *ngIf="isEditing"
    [editableData]="sectionData"
    (onToggleEdition)="toggleEdition($event)"
    (onSave)="updateItem($event)"
  ></app-professional-edit-component>
  <app-professional-item
    *ngIf="!isEditing"
    [professionalData]="sectionData"
  ></app-professional-item>
</div>
