<form class="editable-item">
  <h4 class="text-center">Agregar</h4>
  <div class="mb-3">
    <label for="skill" class="form-label mb-2">Habilidad</label>
    <input
      id="skill"
      name="skill"
      class="form-control mb-3"
      type="text"
      placeholder="EJ: HTML"
      required
      autocomplete="off"
      [(ngModel)]="sampleItem.skill"
    />
  </div>
  <div class="mb-3">
    <label for="icon" class="form-label"
      >Icono ( <i [class]="sampleItem.icon"></i> )<br
    /></label>
    <input
      id="icon"
      name="icon"
      type="text"
      class="form-control"
      placeholder="EJ: fa-brands fa-html5"
      autocomplete="off"
      [(ngModel)]="sampleItem.icon"
    />
  </div>
  <div class="mb-3">
    <label for="skill-lvl" class="form-label mb-2">Nivel</label>
    <select
      class="form-select mb-3"
      name="lvl"
      id="skill-lvl"
      required
      [(ngModel)]="sampleItem.lvl"
    >
      <option value="default" disabled selected>Elige un nivel...</option>
      <option value="Básico">Básico</option>
      <option value="Intermedio">Intermedio</option>
      <option value="Avanzado">Avanzado</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="progress"
      >Barra de progreso ({{ sampleItem.progress }}%)</label
    >
    <input
      class="form-range"
      name="progress"
      id="progress"
      type="range"
      required
      [(ngModel)]="sampleItem.progress"
    />
  </div>
  <div class="p-2">
    <button
      type="button"
      class="btn btn-outline-success m-2"
      (click)="toggleAdding(); addItem()"
    >
      <i id="saveIcon" class="bi bi-check2-circle"></i> Guardar
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="toggleAdding()"
    >
      <i id="cancelIcon" class="bi bi-x-circle"></i> Cancelar
    </button>
  </div>
</form>
