/*
==========
ESTILOS GLOBALES
==========
*/
:root {
    --dark: #040b14;
    --light: #a8a9b4;
    --grey: #2c2f3f;
    --blue: #149ddd;
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

/*
==========
SECCIÓN HOME & HERO IMAGE
==========
*/


.hero-container {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/hero-image.png");
    background-position: center center;
    background-size: cover;
}

@media (min-width: 1200px) {
        /*
    - Agregamo el Background attachment únicamente en resoluciones mayores, ya que genera conflictos en Mobile.
    */

    .hero-container {
        background-attachment: fixed;
    } 
}

.hero-container::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6); /*Filtro para oscurecer la imagen*/
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.home-content {
    position: relative;
    z-index: 2; /*Posicionamos y colocamos el texto por encima del fondo y su filtro.*/
    color: var(--white);
    transition: opacity 1s ease-in; /*Agregamos transicion para la opacidad*/
}



/*
==========
BARRA DE NAVEGACIÓN
==========
*/

.toggler-btn {
    position: fixed;
    top: 0; 
    right: 0;
    z-index: 60;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    margin-top: 1rem;
    margin-right: 1rem;
    color: var(--white);
    background-color: var(--grey);
    border-radius: 100%;
    
}

@media (min-width: 1200px) {
    /*
    - Configuramos el boton para que desaparezca en resoluciones mayores a 1200px.
    */
    .toggler-btn {
        display: none;
    }
}

.move {
    transition: .5s; /*Añadimos una transición al momento de modificarse el margen*/
} 

@media (min-width:1200px) {
    /*
    - Movemos el contenido a la derecha en resolucionbes mayores a.
    */
    .move {
        margin-left: 280px;
        transition: .5s;
    }
}

.sidebar {
    position: fixed;
    inset: 0;
    z-index: 50;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 280px;
    height: 100vh;
    padding: 1rem 0;
    
    background-color: var(--dark);
    color: #fff;

    transform: translateX(0);
    transition: transform .5s;
}

/*Propiedad que usamos para ocultar la barra de navegación.*/
.hidebar {
    transform: translateX(-100%);
}

.user-profile {
    width: 150px;
    border: .5rem solid var(--grey);
    border-radius: 100%;
}

.social li {
    padding: .6rem;
    margin: .6rem;
    display: inline-block;
    border-radius: 100%;
    background-color: var(--grey);
    line-height: 1;
}

.social li:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.navigation {
    color: var(--light);
    margin-right: 7rem;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    font-size: 1em;
}

.nav-item i {
    padding: 0 .8rem;
    line-height: 1;
}

.nav-item:hover{
    color: var(--white);
    transition: .3s;
}


.nav-item:hover i{
    color: var(--blue);
    transition: .3s;
}

.sidebar a:focus{   
    color: var(--white);
    outline: none;
    transition: .3s;
}

.sidebar a:focus h2{   
    color: var(--light);
    outline: none;
    transition: .3s;
}

.sidebar a:focus i {   
    color: var(--blue);
    outline: none;
    transition: .3s;
}

.ap-container {
    margin-top: auto;
}

.ap-logo {
    width: 100px;
    height: 60px;
}


/*
==========
SECCIÓN DE ABAJO
==========
*/

.section-info {
    background-color: var(--dark);
    color: var(--white);
    padding: 1rem;
}

.section-title h2{
    padding: 1rem 0;
}

.section-title h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--blue);
    margin-top: 1rem;
}

.about-img {
    border-radius: 1rem;
}

.info-item {
    position: relative;
    padding-left: 1rem;
    border-left: 2px solid var(--blue);
}


.info-item h4{
    font-size: 1.2rem;
}

.info-item h4::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 1rem;
    height: 1rem;
    background-color: var(--dark);
    border: solid 2px var(--blue);
    border-radius: 1rem;
}

.info-item h5 {
    font-size: 1rem;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.project-cards:hover {
   color: green;
}