<div *ngFor="let professionalItem of professionalData; let i = index" class="info-item">
  <div class="item-title d-flex justify-content-between align-items-center">
    <h4>{{ professionalItem.title }}</h4>
    <div class="item-buttons">
      <span class="edit-icon" (click)="onDelete(professionalItem, i)"
        ><i class="bi bi-trash3"></i
      ></span>
    </div>
  </div>
  <h5>{{ professionalItem.date }}</h5>
  <p>
    <em>{{ professionalItem.place }}</em>
  </p>
  <p>
    {{ professionalItem.description }}
  </p>
</div>
