<div *ngFor="let professionalItem of professionalData" class="info-item">
  <div class="item-title d-flex justify-content-between align-items-center">
    <h4>{{ professionalItem.title }}</h4>
    <div class="item-buttons">
      <span
        class="edit-icon"
        data-bs-toggle="modal"
        data-bs-target="#deleteModal"
        ><i class="bi bi-trash3"></i
      ></span>
    </div>
  </div>
  <h5>{{ professionalItem.date }}</h5>
  <p>
    <em>{{ professionalItem.place }}</em>
  </p>
  <p>
    {{ professionalItem.description }}
  </p>
</div>
