.editable-item {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.user-profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  border: 0.5rem solid var(--grey);
  border-radius: 100%;
}
