.editable-item {
    border-left: none;
    border-right: none;
    border-radius: 0;
    overflow-y: scroll;
}

.user-profile {
    width: 100px;
    border: 0.5rem solid var(--grey);
    border-radius: 100%;
  }