<div class="row">
    <div class="col-lg-4">
      <!--Imagen de sección Educación/Experiencia-->
      <img
        src="../assets/about.jpg"
        alt="Foto de Perfil"
        class="img-fluid about-img"
      />
    </div>
    <!--Sección Educación/Experiencia-->
    <div id="professional-info" class="col-lg-8 mt-4">
      <div class="row">
          <app-education id="education" class="col-lg-6"></app-education>
          <app-experience id="experience" class="col-lg-6"></app-experience>
      </div>
    </div>
  </div>