<!-- 
- Creamos los botones de edicion. Los mismos aparecen/desaparecen dependiendo de la propiedad 'isEditing'.
- Al hacerles click cambian el estado de 'isEditing'.
-->
<span id="editionIcon" class="edit-icon" *ngIf="!isEditing"
  ><i class="bi bi-pencil-square" (click)="toggleEdition()"></i
></span>
<!-- Botones para guardar/cancelar -->
<span class="edit-icon pe-2" *ngIf="isEditing">
  <i id="saveIcon" class="bi bi-check2-square" (click)="toggleEdition();saveChanges()"></i>
</span>
<span class="edit-icon" *ngIf="isEditing">
  <i id="cancelIcon" class="bi bi-x-square" (click)="toggleEdition()"></i>
</span>
