<div>
  <div
    class="professional-header d-flex justify-content-between align-items-center"
  >
    <h3 class="mb-3 fw-bold">Educación</h3>
    <div class="mb-3">
      <app-add-button
        [isAdding]="isAdding"
        (onToggleAdding)="toggleAdding($event)"
      ></app-add-button>
    </div>
  </div>

  <app-professional-add-item
    *ngIf="isAdding"
    [itemsList]="sectionData"
    (onToggleAdding)="toggleAdding($event)"
    (onAddItem)="addItem($event)"
  ></app-professional-add-item>
  <!-- Iteramos a traves del array de elementos, y generamos uno nuevo con su respectivo Data Binding. -->

  <div *ngFor="let educationItem of sectionData; let i = index">
    <app-professional-item
      *ngIf="!isEditing"
      [url]="url + '/' + educationItem.id"
      [professionalItem]="educationItem"
      (onItemDelete)="deleteItem(educationItem, i)"
    ></app-professional-item>
  </div>
</div>
