<form class="editable-item">
  <h4 class="text-center">Editar</h4>
  <div class="mb-3">
    <label for="skill" class="form-label mb-2">Habilidad</label>
    <input
      id="skill"
      name="skill"
      class="form-control mb-3"
      type="text"
      placeholder="EJ: HTML"
      required
      autocomplete="off"
      [(ngModel)]="habilidadEditable!.nombre"
    />
  </div>
  <div class="mb-3">
    <label for="icon" class="form-label"
      >Icono ( <i [class]="habilidadEditable!.icono"></i> )<br
    /></label>
    <input
      id="icon"
      name="icon"
      type="text"
      class="form-control"
      placeholder="EJ: fa-brands fa-html5"
      autocomplete="off"
      [(ngModel)]="habilidadEditable!.icono"
    />
  </div>
  <div class="mb-3">
    <label for="skill-lvl" class="form-label mb-2">Nivel</label>
    <input
      class="form-control mb-3"
      name="lvl"
      id="skill-lvl"
      type="text"
      placeholder="EJ: Intermedio/Avanzado"
      required
      [(ngModel)]="habilidadEditable!.nivel"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="progress"
      >Barra de progreso ({{ habilidadEditable!.progreso }}%)</label
    >
    <input
      class="form-range"
      name="progress"
      id="progress"
      type="range"
      required
      [(ngModel)]="habilidadEditable!.progreso"
    />
  </div>
  <div class="p-2">
    <button
      type="button"
      class="btn btn-outline-success m-2"
      (click)="toggleEdition(); saveChanges()"
    >
      <i id="saveIcon" class="bi bi-check2-circle"></i> Guardar
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="toggleEdition(); reload()"
    >
      <i id="cancelIcon" class="bi bi-x-circle"></i> Cancelar
    </button>
  </div>
</form>
