<!--Botón para abrir/cerrar barra de navegación-->
<app-toggle-button></app-toggle-button>
<!--Barra de navegación-->
<app-navbar></app-navbar>
<!--Contenido desplazable de la página-->
<main class="move">
  <app-hero></app-hero>
  <app-about></app-about>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-contact></app-contact>
</main>

<!--Ventanas MODALES-->
<!--Ventana Modal para login. TODO: Agregar atributos name para validar.-->
<div class="modal fade" id="loginModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Ingresar</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="user" class="form-label">Usuario:</label>
            <input
              id="user"
              type="text"
              class="form-control"
              pattern="[a-z0-9]{6,12}"
              title="El nombre de usuario solo acepta letras minúsculas, números y debe tener entre 6 y 12 carácteres."
              required
            />
          </div>
          <div class="m-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input
              id="password"
              type="password"
              class="form-control"
              pattern=".{6,}"
              title="La contraseña debe tener como mínimo 6 carácteres."
              required
            />
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Login</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Ventana Modal para editar información del sidebar.-->
<div class="modal fade" id="editUserModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Información personal</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="userName" class="form-label">Editar nombre:</label>
            <input id="userName" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="userProfilePic" class="form-label"
              >Cambiar foto de perfil:</label
            >
            <input id="userProfilePic" type="file" class="form-control" />
          </div>
          <div class="m-3">
            <label for="userLinkedIn" class="form-label"
              >Enlace de LinkedIn:</label
            >
            <input id="userLinkedIn" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="userGitHub" class="form-label">Enlace de GitHub:</label>
            <input id="userGitHub" type="text" class="form-control" />
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Aceptar</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Ventana Modal para editar Secciones del contenido.-->
<div class="modal fade" id="sectionModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Editar sección</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <i
              >Utiliza la caja de texto para modificar la información que se
              encuentra debajo del título de la sección.</i
            >
            <textarea
              id="sectionText"
              name="sectionText"
              cols="30"
              rows="3"
              class="form-control mt-3"
              style="resize: none"
              placeholder="Escribe aquí tu texto..."
            ></textarea>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Aceptar</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Ventana Modal para editar elementos educativos/laborales.-->
<div class="modal fade" id="itemModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Editar elemento</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="itemTitle" class="form-label">Título/Puesto:</label>
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="itemDate" class="form-label">Período (Años):</label>
            <input id="itemDate" type="number" class="form-control" />
          </div>
          <div class="m-3">
            <label for="itemTitle" class="form-label"
              >Organismo/Institución:</label
            >
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="itemText">Información extra:</label>
            <textarea
              id="itemText"
              name="sectionText"
              cols="30"
              rows="3"
              class="form-control mt-3"
              style="resize: none"
              placeholder="Escribe aquí tu texto..."
            ></textarea>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Aceptar</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Ventana Modal para sumar elementos educativos/laborales.-->
<div class="modal fade" id="itemPlus" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Agregar elemento</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="itemTitle" class="form-label">Título/Puesto:</label>
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="itemDate" class="form-label">Período (Años):</label>
            <input id="itemDate" type="number" class="form-control" />
          </div>
          <div class="m-3">
            <label for="itemTitle" class="form-label"
              >Organismo/Institución:</label
            >
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="itemText">Información extra:</label>
            <textarea
              id="itemText"
              name="sectionText"
              cols="30"
              rows="3"
              class="form-control mt-3"
              style="resize: none"
              placeholder="Escribe aquí tu texto..."
            ></textarea>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Aceptar</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Ventana Modal para sumar habilidades.-->
<div class="modal fade" id="skillPlus" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Agregar habiliad</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="skillTitle" class="form-label"
              >Habilidad/Tecnología:</label
            >
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="skillText" class="form-label">Texto interno:</label>
            <input id="skillText" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="skillValue" class="form-label"
              >Porcentaje de manejo (1-100):</label
            >
            <input
              id="skillValue"
              type="number"
              class="form-control"
              min="1"
              max="100"
            />
          </div>
          <div class="m-3">
            <label for="skillIcon" class="form-label"
              >Icono de habilidad (Opcional):</label
            >
            <input id="skillIcon" type="file" class="form-control" />
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Aceptar</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Ventana Modal para editar habilidades.-->
<div class="modal fade" id="skillEdit" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Editar habiliad</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="skillTitle" class="form-label"
              >Habilidad/Tecnología:</label
            >
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="skillText" class="form-label">Texto interno:</label>
            <input id="skillText" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="skillValue" class="form-label"
              >Porcentaje de manejo (1-100):</label
            >
            <input
              id="skillValue"
              type="number"
              class="form-control"
              min="1"
              max="100"
            />
          </div>
          <div class="m-3">
            <label for="skillIcon" class="form-label"
              >Icono de habilidad (Opcional):</label
            >
            <input id="skillIcon" type="file" class="form-control" />
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Aceptar</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Ventana Modal para agregar proyectos.-->
<div class="modal fade" id="projectPlus" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Agregar proyecto</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="projectTitle" class="form-label"
              >Título del proyecto:</label
            >
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="projectTitle" class="form-label"
              >Subtitulo (En la imagen):</label
            >
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="skillIcon" class="form-label"
              >Imagen del proyecto:</label
            >
            <input id="skillIcon" type="file" class="form-control" />
          </div>
          <div class="m-3">
            <label for="projectDescription">Descripción del proyecto:</label>
            <textarea
              id="itemText"
              name="sectionText"
              cols="30"
              rows="3"
              class="form-control mt-3"
              style="resize: none"
              placeholder="Escribe aquí tu texto..."
            ></textarea>
          </div>
          <div class="m-3">
            <label for="projectLive" class="form-label"
              >Link del Live Demo:</label
            >
            <input id="projectLive" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="projectRepo" class="form-label"
              >Link del Repositorio:</label
            >
            <input id="projectRepo" type="text" class="form-control" />
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Aceptar</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Ventana Modal para editar proyectos.-->
<div class="modal fade" id="projectEdit" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Editar proyecto</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="projectTitle" class="form-label"
              >Título del proyecto:</label
            >
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="projectTitle" class="form-label"
              >Subtitulo (En la imagen):</label
            >
            <input id="itemTitle" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="skillIcon" class="form-label"
              >Imagen del proyecto:</label
            >
            <input id="skillIcon" type="file" class="form-control" />
          </div>
          <div class="m-3">
            <label for="projectDescription">Descripción del proyecto:</label>
            <textarea
              id="itemText"
              name="sectionText"
              cols="30"
              rows="3"
              class="form-control mt-3"
              style="resize: none"
              placeholder="Escribe aquí tu texto..."
            ></textarea>
          </div>
          <div class="m-3">
            <label for="projectLive" class="form-label"
              >Link del Live Demo:</label
            >
            <input id="projectLive" type="text" class="form-control" />
          </div>
          <div class="m-3">
            <label for="projectRepo" class="form-label"
              >Link del Repositorio:</label
            >
            <input id="projectRepo" type="text" class="form-control" />
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Aceptar</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Ventana Modal para eliminar items.-->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-footer justify-content-center">
          <strong>¿Está seguro de eliminar este elemento?</strong>
          <div class="mt-3">
            <button type="submit" class="btn btn-outline-success">
              Aceptar
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
